<div class="text-center">
  <h1>League Accounts</h1>
  
  <% @summoners.each do |summoner| %>
    <h2><%= "#{summoner[:name]} is #{summoner[:tier]} #{summoner[:division]}, #{summoner[:points]} points." %></h2>
  <% end %>
</div>